:root {
  --bg-color: #0f172a;
  --text-color: #f1f5f9;
  --primary-color: #3b82f6;
  --nav-bg: #1e293b;
  --card-bg: #334155;
  --border-color: #475569;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100dvh;
  margin: 0 auto;
}

/* navbar */
.navbar {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  background-color: var(--nav-bg);
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar-logo img {
  width: 3rem;
  height: 3rem;
}

.navbar-menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.navbar-menu a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
  font-size: 1.2rem;
}

.navbar-menu a:hover {
  color: var(--primary-color);
}

.navbar-menu a.active {
  font-weight: bold;
  border-bottom: 2px solid var(--primary-color);
}

.navbar-hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.8rem;
}

#navbar-toggle {
  display: none;
}

.content {
  margin: 0 auto;
  padding: 2rem 10rem;
}

/* Beranda */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  background-color: var(--bg-color);
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.hero-content .highlight {
  color: var(--primary-color);
}

.hero-content .subtitle {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.cta-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #1d4ed8;
}

.download-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #45a049;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .navbar-menu {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    display: none;
    background-color: var(--nav-bg);
    padding-bottom: 1rem;
  }

  .navbar-hamburger {
    display: block;
  }

  #navbar-toggle:checked + .navbar-hamburger + .navbar-menu {
    display: flex;
  }
}
